@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* TODO: limit font weights */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Set by JS on page load, unset after a timeout */
body.no-animations *{
  animation-duration: 0s !important;
  transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

/* Skip nav link */

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SIDEBAR */

#sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  overflow: scroll;
  padding-top: 4em;
}

/* SIDEBAR SHOW/HIDE */

#toggle-sidebar {
  float: right;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  text-align: center;
  line-height:1.5;
  cursor: pointer;
  margin-right: -0.625em;
  color: #666;
  border: none;
}
#toggle-sidebar:before {
  content: "☰";
}

#toggle-sidebar:hover {
  background-color: #aaa;
  color: white;
}

#sidebar.hidden {
  animation: hideContents .125s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

#sidebar.shown {
  animation: showContents .125s;
}

@keyframes showContents {
  0% { margin-left: calc(-300px + 3em); }
  100% { margin-left: 0px; }
}

@keyframes hideContents {
  0% { margin-left: 0px; }
  100% { margin-left: calc(-300px + 3em); }
}

/* SIDEBAR TYPOGRAPHY */

#sidebar h2 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 300;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
  color: #666;
}

/* Sidebar lists */

#sidebar ul {
  line-height: 2;
  margin-left: 0;
  margin-top: 0;
}

#sidebar ol {
  counter-reset: item;
  margin-left: 0;
}
#sidebar ol li { display: block; }
#sidebar ol li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  margin-right: 1em;
}

#sidebar ul ul,
#sidebar ul ol,
#sidebar ol ol,
#sidebar ol ul {
  margin-left: 1em;
}

#sidebar ul li {
  list-style-type: none;
}

#sidebar ul li {
  margin-bottom: 1em;
}

#sidebar ul li li {
  margin-bottom: 0;
}

/* Sidebar links */

#sidebar a:link, #sidebar a:visited {
  color: black;
  text-decoration: none;
}

#sidebar a:hover, #sidebar a:active {
  text-decoration: underline;
}

/* MAIN DOCUMENT */

#book-main {
  margin-left: 300px;
  margin-bottom: 4em;
  padding: 0 1em;
}

main {
  font-size: 16px;
  font-weight: 400;
	line-height:1.5;
  padding-bottom: 2em;
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
}

/* Follow sidebar show/hide */

#book-main.wide {
  animation: growMain .25s;
  animation-fill-mode: forwards;
}

#book-main.narrow {
  animation: shrinkMain .25s;
  animation-fill-mode: forwards;
}

@keyframes growMain {
  0% { margin-left: 300px; }
  100% { margin-left: 0px; }
}

@keyframes shrinkMain {
  0% { margin-left: 0px; }
  100% { margin-left: 300px; }
}

@media (max-width: 800px) {
  #book-main.wide {
    padding-left: 4em;
    padding-right: 1em;
    width: 100%;
  }

  #book-main.narrow {
    width: 400px; /* TODO this is a hack, and could cause content to jump around */
  }
}

/* DOCUMENT */

/* Title block */

h1 {
  font-weight: 600;
  line-height: 1.2;
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* THE REST */


h2 {
  font-size: 2em;
  font-weight: 600;
  /* font-style: italic; */
  margin-bottom: 1em;
  margin-top: 2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 1em;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p + p {
  /* text-indent: 1em; */
  margin-top: 1em;
}


b, strong {
  font-weight: 700;
}

i i {
  font-style: normal;
}


ol, ul {
  margin-top: 1em;
  margin-left: 2em;
}

ol li, ul li {
  margin-bottom: 0.5em;
}

code {
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(245, 245, 245);
  padding: 0.2em;
}

pre {
  font-size: 1em;
  background-color: rgb(245, 245, 245);
  padding: 0.85em 1em;
  overflow-x: scroll;
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote {
  margin: 1em;
  font-style: italic;
}

cite {
  float: right;
  font-style: normal;
}

table {
  margin: 2em 0;
  border-collapse: collapse;
  line-height: 2;
}

td, th {
  padding-left: 1em;
  padding-right: 1em;
}

td:first-of-type, th:first-of-type {
  padding-left: 0.25em;
}

td:last-of-type, th:last-of-type {
  padding-right: 0.25em;
}

td {
  border-bottom: 1px solid #aaa;
}

tr:last-of-type td {
  border-bottom: none;
}

th {
  border-bottom: 1px solid black;
  text-aligN: left;
}

hr {
  margin: 4em 0;
  border-top: 1px solid black;
  border-bottom: none;
}

a:link {
  color: #0bf; /* TODO check contrast */
	text-decoration: none;
}
a:visited {
	color: #90f; /* TODO check contrast */
} 
a:active,
a:hover {
  text-decoration: underline;
}

figure {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}
